<div class="hr-container flex flex-row justify-between items-center gap-[8px]">
  <div class="flex flex-row items-center grow">
  <div routerLink="/" style="cursor: pointer" class="flex flex-row flex-wrap justify-start items-center xs:gap-[6px]">
    <img
      ngSrc="assets/hyperion-pulse.svg"
      alt="logo"
      style="height: 19px"
      class="logo mr-[6px] xs:mr-0"
      height="16"
      width="16"
    />

    <div class="logo-name mr-[6px] xs:mr-0">HYPERION</div>
    <div class="tagline faded">Lightweight Explorer</div>
  </div>
    @if (chainData) {
<!--      <div class="searchbar-empty-space grow w-[1px] h-[1px] bg-amber-700" >-->
        <img [src]="chainData.logo" id="compact-logo" alt="logo" class="compact-logo "/>
<!--      </div>-->
    }
  </div>
  @if (chainData) {
    <div class="faded provider">
      Data provider:
      <a [href]="chainData.provider_url" target="_blank">{{ chainData.provider }}</a>
    </div>
  }
</div>
