.logo-name {
  font-size: 15px;
  font-weight: 800;
  font-family: Montserrat, sans-serif;
  color: #353535;
}

.tagline {
  font-size: 13px;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
  width: max-content !important;
}

.provider, .provider a {
  font-size: 13px;
  font-family: Montserrat, sans-serif;
}

.compact-logo {
  height: 2.625rem;
  /*width: auto;*/
}

.searchbar-placeholder {
  min-width: 17.813rem; /* 285px */
}

@media (max-width: 426px) {
  .compact-logo {
    height: 2.4rem;
  }
  .searchbar-placeholder {
    min-width: unset; /* 285px */
  }
}

@media (max-width: 795px) {
  .provider {
    order: 2;
  }

  .searchbar-empty-space {
    order: 3
  }
}
