<mat-dialog-content id="dialog-content">
  @if (code()) {

    <div class="w-full flex flex-row justify-between items-center">
      <div class="my-5 main-color">Please select a table:</div>
      <button matTooltip="Reload Tables" (click)="reloadTables()" [disabled]="abiRes.isLoading()" mat-icon-button
              class="my-5">
        <mat-icon>sync</mat-icon>
      </button>
    </div>

    <div class="grid dialog-grid-parent">
      @for (tableName of abiTableNames(); track tableName) {
        <button (click)="selectTable(tableName)" mat-raised-button class="grid-item-btn"
                [ngClass]="{'selected': tableName === table()}">{{ tableName }}
        </button>
      }
    </div>
  }

  @defer (on immediate) {
    @if (table()) {
      <div id="scope-section" class="acc-header px-5 py-3 mt-5">
        <div class=" text-lg  mt-5 flex flex-row items-center gap-3">
          <span class="underline main-color">Table: </span>
          <span class="font-medium underline">{{ table() }}</span>
        </div>

        <div class="w-full flex flex-row justify-between items-center">
          <div class="my-5 faded main-color">Please select a scope:</div>
          <div>

            <span>Scope Search Limit</span>
            <input matInput class="custom-input outline-none ml-0 pl-5 py-4 rounded-l-full h-[2.625rem] min-w-0"
                   [(ngModel)]="getTableByScopeLimit" placeholder="Scope Search Limit" type="number" min="1"
                   max="1000">

            <button mat-icon-button (click)="usePreviousScope()" [disabled]="!lastScope()" class="my-5">
              <mat-icon>arrow_left</mat-icon>
            </button>

            <button mat-icon-button (click)="useNextScope()" [disabled]="!nextScopePresent()" class="my-5">
              <mat-icon>arrow_right</mat-icon>
            </button>

          </div>
          <button matTooltip="Reload Scopes" (click)="reloadScopes()" [disabled]="tableScopesRes.isLoading()"
                  mat-icon-button class="my-5">
            <mat-icon>sync</mat-icon>
          </button>
        </div>


        <div class="grid dialog-grid-parent">
          @for (sName of scopeList(); track sName) {
            <button (click)="selectScope(sName)" mat-flat-button class="grid-item-btn"
                    [ngClass]="{'selected': sName === scope()}">{{ sName }}
            </button>
          }
        </div>

        @if (nextScopePresent()) {
          <div class="mt-5">Next Scope: {{ nextScope() }}</div>

          <div class="flex flex-row flex-wrap w-full items-center gap-4 mt-4">
            <label for="customScope">Custom Scope:</label>
            <!--            <mat-form-field appearance="outline">-->
            <!--              <mat-label>Custom Scope:</mat-label>-->
            <div class="custom-input-group flex flex-row items-center max-w-full sm:w-auto w-full
                rounded-full focus-within:outline focus-within:outline-2 focus-within:outline-amber-400 focus-within:-outline-offset-2
                  border-transparent">
              <div class="grow min-w-0">
                <input #customScope matInput id="customScope" type="text"
                       class="custom-input outline-none ml-0 pl-5 py-4 rounded-l-full h-[2.625rem] min-w-0"
                       (keyup.enter)="selectScope(customScope.value)" [value]="scope()">
              </div>
              <!--            </mat-form-field>-->
              <div class="w-auto">
                <button (click)="selectScope(customScope.value)" mat-raised-button color="primary"
                        class="mr-2 my-2 place-self-center primary-btn antialiased ">Select
                </button>
              </div>
            </div>
          </div>

          <div class="flex flex-row w-full justify-start p-4 items-center">
            <!--            <label for="customScope">Custom Scope:</label>-->
            <!--            <input (keyup.enter)="selectScope(customScope.value)" [value]="scope()"-->
            <!--                   class="mx-10" #customScope id="customScope" type="text"/>-->
            <!--            <button (click)="selectScope(customScope.value)" mat-flat-button color="primary">Select</button>-->
          </div>
        }
      </div>

      @if (scope()) {
        <div id="data-section" class="acc-header px-5 py-3 mt-5 overflow-x-scroll">
          <div class="text-lg mt-5 flex flex-row items-center gap-3">
            <span class="underline main-color">Scope: </span>
            <span class="font-medium underline">{{ scope() }}</span>
            <span class="faded text-sm">with {{ tableData().length }} row@if (tableData().length > 1) {
              <span>s</span>
            } </span>
            <button matTooltip="Reload Rows" (click)="reloadRows()" [disabled]="tableRowRes.isLoading()"
                    mat-icon-button>
              <mat-icon>sync</mat-icon>
            </button>
          </div>

          @defer (when displayedColumns().length > 0) {

            @if (tableData().length === 1) {
              <!--              <pre class="text-wrap break-words">{{ tableData()[0] | json }}</pre>-->
              <app-act-data-view [data]="tableData()[0]"></app-act-data-view>
            } @else {
              <table mat-table [dataSource]="tableData()" class="transparent-table max-w-full w-full mt-5"
                     matSort (matSortChange)="announceSortChange($event)">
                @for (field of fields(); track field.name) {
                  <ng-container [matColumnDef]="field.name">

                    <th mat-header-cell
                        *matHeaderCellDef mat-sort-header
                        [matTooltip]="'Type: ' + field.type"
                        [sortActionDescription]="'Sort by ' + field.name">{{ field.name }}
                    </th>

                    <td mat-cell
                        *matCellDef="let element" [attr.data-label]="field.name + '\n\n(' + field.type + ')'"
                        class="text-wrap break-words lg:max-w-[15.313rem]">

                      <app-act-data-view [data]="element[field.name] "></app-act-data-view>
                      <!--                      {{ element[field.name] | json }}-->
                    </td>
                  </ng-container>
                }
                <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns();"></tr>
              </table>
            }
          }
        </div>
      }

    }
  }
</mat-dialog-content>
