.acc-title {
  /*font-size: 20px;*/

}

@media (max-width: 599px) {
  .acc-title {
    font-size: 1.25rem; /*20px*/
  }
}

.total-balance {
  border-bottom: 1px solid var(--line-divider);
  padding-bottom: 0.625rem;
  margin-bottom: 0.625rem;
}

.title {
  font-size: 1.313rem; /*21px*/
  color: var(--primary);
  font-weight: 500;
}

.small-info {
  font-size: 0.875rem; /*14px*/
  margin-top: 0.625rem;
}

.custom-card .mat-expansion-panel {
  background-color: transparent;
  /*border: 1px solid var(--line-divider);*/
  box-shadow: none;
  border-radius: 0.5rem;
}

.custom-card .mat-expansion-panel.mat-expanded {
  border: 1px solid var(--line-divider);
}

.actions-table {
  width: 100%;
  background-color: transparent;
}

.actions-table-paginator {
  background-color: transparent;
}

::ng-deep .bigger-tooltip {
  font-size: 1rem; /*16px*/
}

.middle-card {
  max-height: 32.688rem;
  overflow-y: auto;
}

.token-cell {
  margin-bottom: 0.688rem;
  border-bottom: 1px solid var(--line-divider);
  padding-bottom: 0.875rem;
  border-radius: 0.188rem;
}

.token {
  font-size: 1.25rem; /*20px*/
  color: var(--primary);
  font-weight: 500;
}

.monospace {
  font-family: 'Courier Prime', monospace;
  font-size: 1rem; /*16px*/
}

.vote-card .mat-expansion-panel-header {
  padding-left: 0.938rem;
  height: auto;
  min-height: var(--mat-expansion-header-collapsed-state-height);
}

.vote-card-title {
  font-size: 1.188rem; /*19px*/
  margin-bottom: 0 !important;
}

::ng-deep .mat-expansion-indicator::after {
  color: black !important;
}

::ng-deep .mat-expansion-indicator svg {
  fill: black !important;
}

.dot {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.625rem;
}

.red-dot {
  background: #de0000;
  border-radius: 50%;
  cursor: pointer;
}

.livestream {
  cursor: pointer;
  margin-bottom: 7px;
  font-size: 15px;
}

.pulse {
  background: var(--primary);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0, 166, 222, 0.5);
  animation: pulse 2s infinite;
}

.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 166, 222, 0.5);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 166, 222, 0.5);
    box-shadow: 0 0 0 0 rgba(0, 166, 222, 0.5);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.mat-expansion-panel-header[aria-disabled=true] {
  color: rgba(0, 0, 0, .87);
}

@media (min-width: 960px) and (max-width: 1049px) {
  .full-width {
    flex: 1 1 100% !important;
    box-sizing: border-box !important;
    max-width: 100% !important;
    min-width: unset !important;
    margin-right: 0 !important;
  }

  .mt-responsive {
    margin-top: 1.875rem;
  }
}

.lib {
  font-size: 0.938rem; /*15px*/
  margin-top: 0.063rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 0.813rem;
}

#totalBalance {
  width: auto !important;
}

.link-btn {
  display: block;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: var(--btn-link-border-radius);
}

.link-btn:hover {
  color: oklch(from var(--faded) 52% c h);
  transition: color 0.7s;
}

.small-arrow-btn {
  height: 36px;
  width: 36px;
  min-height: unset;
  padding: 0;
}
