.acc-title {
  /*font-size: 20px;*/

}

@media (max-width: 599px) {
  .acc-title {
    font-size: 1.25rem; /*20px*/
  }
}

.total-balance {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  padding-bottom: 0.625rem;
  margin-bottom: 0.625rem;
}

.mb-5 {
  margin-bottom: 5px;
}

.mt-7 {
  margin-top: 7px;
}

.mt-30 {
  margin-top: 30px;
}

.title {
  font-size: 1.313rem; /*21px*/
  color: var(--primary);
  font-weight: 500;
}

.used {
  margin-left: 0.438rem;
}

.values {
  margin-top: 0.438rem;
}

.progress-bar {
  margin-top: 0.625rem;
}

.small-info {
  font-size: 0.938rem; /*15px*/
  margin-top: 0.625rem;
  color: rgba(0, 0, 0, .45);
}

.display-block {
  display: block;
  margin-left: 0;
}


.keys-tree {
  background-color: transparent;
}

.custom-card .mat-expansion-panel {
  background-color: transparent;

}

.actions-table {
  width: 100%;
  background-color: transparent;
}

.actions-table-paginator {
  background-color: transparent;
}

::ng-deep .bigger-tooltip {
  font-size: 1rem; /*16px*/
}

.middle-card {
  max-height: 32.688rem;
  overflow-y: auto;
}

.token-cell {
  margin-bottom: 0.688rem;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  padding-bottom: 0.875rem;
  border-radius: 0.188rem;
}

.token {
  font-size: 1.25rem; /*20px*/
  color: var(--primary);
  font-weight: 500;
}

.faded {
  color: #a4a4a4;
}

.permission-cell {
  border-bottom: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
  border-radius: 0 0 0 0.313rem;
  padding: 0.625rem 0 0.5rem 0.5rem;
  width: 100%;
}

.monospace {
  font-family: 'Courier Prime', monospace;
  font-size: 1rem; /*16px*/
}

.m-left {
  margin-left: 0.438rem;
}

.m-bottom {
  margin-bottom: 3px;
}

.float-r {
  float: right;
}

.space-right {
  margin-right: 4px;
}

.vote-card .mat-expansion-panel-header {
  padding-left: 0.938rem;
}

.vote-card-title {
  font-size: 1.188rem; /*19px*/
  margin-bottom: 0 !important;
}

::ng-deep .mat-expansion-indicator::after {
  color: black !important;
}

::ng-deep .mat-expansion-indicator svg {
  fill: black !important;
}

.action-cell {
  /*padding: 5px 10px;*/
  font-size: 0.813rem; /*13px*/
  letter-spacing: 0.5px;
  text-align: center;
  width: max-content;
  border: 1px solid #e1e1e1;
  border-radius: 0.188rem;
  padding: 0.188rem 0.313rem;
}

.data-item {
  padding-bottom: 0.188rem;
}

.dot {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.625rem;
}

.red-dot {
  background: #de0000;
  border-radius: 50%;
  cursor: pointer;
}

.off {
  background-color: gray;
}

.livestream {
  cursor: pointer;
  margin-bottom: 7px;
  font-size: 15px;
}

.pulse {
  background: var(--primary);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0, 166, 222, 0.5);
  animation: pulse 2s infinite;
}

.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 166, 222, 0.5);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 166, 222, 0.5);
    box-shadow: 0 0 0 0 rgba(0, 166, 222, 0.5);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

::ng-deep .tooltip-bigger {
  font-size: 13px;
}


@media (max-width: 960px) {
  .actions-table .mat-mdc-header-row {
    top: 16.25rem;
  }
}

@media (min-width: 961px) {
  .actions-table .mat-mdc-header-row {
    top: 14.063rem;
  }
}

/*table responsive*/
@media (min-width: 600px) {
  .actions-table .mat-mdc-header-row {
    background: transparent;
    position: sticky;
    z-index: 100;
    color: var(--main-text);
  }

  [mat-header-cell].mat-mdc-table-sticky {
    border-bottom: 1px solid var(--line-divider);
  }

  [mat-header-row] {
    /*background: transparent !important;*/
    border-radius: var(--card-border-radius) !important;
  }

  [mat-header-cell] {
    background: transparent !important;
  }

  [mat-header-cell].mat-column-trx_id {
    border-radius:  var(--card-border-radius) 0 0  var(--card-border-radius);
  }

  [mat-header-cell].mat-column-block_num {
    border-radius: 0  var(--card-border-radius)  var(--card-border-radius) 0;
  }
}

@media (max-width: 599px) {
  [mat-table] [mat-header-row] {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    position: sticky;
    top: 0;
    color: var(--main-text);
  }

  [mat-table] [mat-header-row] th[mat-header-cell] {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 1rem 0.5rem;
    justify-content: end;
    /*display: none;*/
  }


  [mat-table] [mat-header-row] th[mat-header-cel] l > .mat-sort-header-container {
    padding-left: 0.938rem;
  }

  [mat-table] [mat-header-row] th[mat-header-cell]:not([mat-sort-header]),
  [mat-table] [mat-header-row] th[mat-header-cell] > .mat-sort-header-container.mat-sort-header-disabled,
  [mat-table] [mat-header-row] th[mat-header-cell] > .mat-sort-header-container.mat-column-action {
    display: none;
  }


  [mat-table] [mat-row] {
    height: auto;
  }

  /*:not(.mat-column-action)*/
  [mat-table] [mat-row] td[mat-cell] {
    display: grid;
    grid-template-columns: 35% 65%;
    padding: 0.5rem;
    text-align: left;
    /*text-align: right;*/
    word-break: break-word;
  }

  /*:not(.mat-column-action)*/
  [mat-table] [mat-row] td[mat-cell] > * {
    grid-column: 2;
  }

  /*:not(.mat-column-action)*/
  [mat-table] [mat-row] td[mat-cell]:before {
    content: attr(data-label);
    text-align: left;
    font-size: 0.75rem; /*12px*/
    font-weight: 500;
    color: var(--main-text);
  }

  /*[mat-table] [mat-row] td.mat-column-action {*/
  /*  display: flex;*/
  /*  justify-content: center;*/
  /*  padding: 0 0.5rem;*/
  /*}*/
  /*[mat-table] [mat-row] td.mat-column-action>button {*/
  /*  margin: 0.5rem 0;*/
  /*}*/
  .action-cell {
    padding: 0;
    text-align: left;
    border: none;
  }

  [mat-table] [mat-row]:last-of-type td:last-of-type {
    border: none;
  }

  [mat-table] [mat-row]:not(:last-of-type) td:last-of-type {
    border-bottom: 0.5rem solid #e5e5e5;
    padding-bottom: 1.25rem !important;
    margin-bottom: 1.25rem;
  }

  [mat-card] [mat-expansion-panel][mat-table] {
    border: 0.5rem solid #fafafa;
  }
}

.mat-expansion-panel-header[aria-disabled=true] {
  color: rgba(0, 0, 0, .87);
}

@media (min-width: 960px) and (max-width: 1049px) {
  .full-width {
    flex: 1 1 100% !important;
    box-sizing: border-box !important;
    max-width: 100% !important;
    min-width: unset !important;
    margin-right: 0 !important;
  }

  .mt-responsive {
    margin-top: 1.875rem;
  }
}

.lib {
  font-size: 0.938rem; /*15px*/
  margin-top: 0.063rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 0.813rem;
}

#totalBalance {
  width: auto !important;
}

/*chevron animation start*/
::ng-deep .arrowRight .svg-inline--fa {
  transform: rotate(0deg);
  animation: arrowRightAnimation 225ms cubic-bezier(0.4,0.0,0.2,1);
}

::ng-deep  .arrowDown .svg-inline--fa {
  transform: rotate(90deg);
  animation: arrowDownAnimation 225ms cubic-bezier(0.4,0.0,0.2,1);
}

@keyframes arrowRightAnimation {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes arrowDownAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
/*chevron animation end*/

.link-btn {
  display: block;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: var(--btn-link-border-radius);
}

.link-btn:hover {
  color: oklch(from var(--faded) 52% c h);
  transition: color 0.7s;
}
