@switch (rootType()) {

  <!--RAW HEX DATA-->
  @case ("string") {
    @if (isAccountName(data())) {
      <a [routerLink]="['/account', data()]"
         class="break-word link-primary text-pretty">{{ data() }}</a>
    } @else {
      <span class="break-word italic">{{ data() }}</span>
    }
  }
  @case ("number") {
    <span class="break-word accent">{{ data() }}</span>
  }

  <!--JSON OBJECT-->
  @case ("object") {

    @for (item of data() | keyvalue; track item.key) {

      @let itemType = getType(item.value);

      <div class="main-color" [ngClass]="{'pb-1': objectKeyCount() > 1, 'ml-2': level() > 0}">

        @if (level() === 0) {
          <span class="faded"> </span>
        } @else if (level() === 1) {
          <span class="faded ml-1"> ▪ </span>
        } @else if (level() === 2) {
          <span class="faded ml-3"> ‣ </span>
        }

        <!--FIELD NAME-->
        <span class="font-medium">{{ item.key }}</span>:
        <!--        <span [matTooltip]="'Type: ' + itemType" class="font-medium">{{ item.key }}</span>:-->

        <!--FIELD VALUE-->
        @if (item.value) {
          @switch (itemType) {
            @case ("string") {
              @if (isAccountName(item.value)) {
                <a [routerLink]="['/account', item.value]"
                   class="break-word link-primary text-pretty">{{ item.value }}</a>
              } @else {

                @let stringValue = String(item.value);
                @let hasSpaces = stringValue.includes(' ');

                @if (stringValue.length > 32) {
                  <br>
                  <span [matTooltip]="stringValue" class="faded text-wrap ml-3"
                        [ngClass]="hasSpaces ? 'break-words' : 'break-all'">
                    {{ stringValue | slice:0:32 }}...
                  </span>
                } @else {
                  <span class="break-word faded text-pretty">{{ item.value }}</span>
                }
              }
            }
            @case ("number") {
              <span class="break-word accent">{{ item.value }}</span>
            }
            @case ("boolean") {
              <span class="break-word">{{ item.value }}</span>
            }
            @case ("object") {
              @if (!Array.isArray(item.value)) {
                <app-act-data-view [fieldName]="item.key" [data]="item.value" [level]="level() + 1"></app-act-data-view>
              } @else {
                <span class="faded italic">(array, size: {{ item.value.length }})</span>
                @for (arrayItem of item.value; let idx = $index; track idx; let last = $last) {
                  <div
                    class="border shadow-slate-400/10 shadow-lg rounded-lg m-2 flex flex-row justify-start items-start gap-2 px-2">
                    @if (item.value.length > 1) {
                      <div class="faded italic">{{ idx + 1 }}</div>
                    }
                    <app-act-data-view [fieldName]="item.key" [data]="arrayItem"
                                       [level]="level() + 1"></app-act-data-view>
                  </div>
                }
              }
            }
            @default {
              <span class="break-word text-red-400">{{ item.value }} ({{ itemType }})</span>
            }
          }
        } @else {
          @switch (item.value) {
            @case (null) {
              <span class="break-word accent">NULL</span>
            }
            @case (0) {
              <span class="break-word accent">0</span>
            }
            @case (false) {
              <span class="break-word accent">false</span>
            }
            @case ("") {
              <span class="break-word text-xs italic faded text-purple-400">empty</span>
            }
            @default {
              <span class="break-word text-red-400">EMPTY ({{ itemType }})</span>
            }
          }
        }
      </div>
    } @empty {
      <span class="break-word faded text-xs">NO DATA</span>
    }
  }
}
