@switch (rootType()) {

  <!--RAW HEX DATA-->
  @case ("string") {
    <span class="break-word italic">{{ data() }}</span>
  }
  @case ("number") {
    <span class="break-word accent">{{ data() }}</span>
  }

  <!--JSON OBJECT-->
  @case ("object") {
    @for (item of data() | keyvalue; track item.key) {

      @let itemType = getType(item.value);

      <div [ngClass]="{'data-item': objectKeyCount() > 1, 'ml-2': level() > 0}">

        @if (level() === 0) {
          <span class="faded"> </span>
        } @else if (level() === 1) {
          <span class="faded ml-1"> ▪ </span>
        } @else if (level() === 2) {
          <span class="faded ml-3"> ‣ </span>
        }

        <!--FIELD NAME-->
        <span class="font-medium">{{ item.key }}</span>:
        <!--        <span [matTooltip]="'Type: ' + itemType" class="font-medium">{{ item.key }}</span>:-->

        <!--FIELD VALUE-->
        @if (item.value) {
          @switch (itemType) {
            @case ("string") {
              @if (isAccountName(item.value)) {
                <a [routerLink]="['/account', item.value]"
                   class="break-word link-primary text-pretty">{{ item.value }}</a>
              } @else {

                @let stringValue = String(item.value);
                @let hasSpaces = stringValue.includes(' ');

                @if (stringValue.length > 32) {
                  <br>
                  <span [matTooltip]="stringValue" class="faded text-wrap ml-3"
                        [ngClass]="hasSpaces ? 'break-words' : 'break-all'">
                    {{ stringValue | slice:0:32 }}...
                  </span>
                } @else {
                  <span class="break-word faded text-pretty">{{ item.value }}</span>
                }
              }
            }
            @case ("number") {
              <span class="break-word accent">{{ item.value }}</span>
            }
            @case ("boolean") {
              <span class="break-word">{{ item.value }}</span>
            }
            @case ("object") {
              @if (!Array.isArray(item.value)) {
                <app-act-data-view [fieldName]="item.key" [data]="item.value" [level]="level() + 1"></app-act-data-view>
              } @else {
                <span class="break-word">ARRAY</span>
              }
            }
          }
        } @else if (item.value === null) {
          <span class="break-word accent">NULL</span>
        } @else if (item.value === 0) {
          <span class="break-word accent">0</span>
        } @else {
          <!--EMPTY STRING / UNDEFINED-->
          @if (itemType === 'string') {
            <span matTooltip="EMPTY STRING" class="break-word text-purple-400">""</span>
          } @else {
            <span class="break-word text-red-400">EMPTY ({{ itemType }})</span>
          }
        }
      </div>
    } @empty {
      <span class="break-word text-red-400">EMPTY</span>
    }
  }
}
