.logo-name {
  font-size: 0.938rem;
  font-weight: 800;
  font-family: Montserrat, sans-serif;
  color: #353535;
}

.tagline {
  font-size: 0.938rem;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
  width: max-content !important;
}

.acc-header {
  background-color: transparent;
  border-radius: 0.625rem;
  border: none !important;
  box-shadow:  rgb(78 104 192 / 25%) 0px 4px 19px 0px, rgba(17, 12, 46, 0.15) 0px 20px 100px 0px !important;
  color: var(--main-text);
}
