.title {
  font-size: 1.313rem; /*21px*/
  color: var(--primary);
  font-weight: 500;
}

.used {
  margin-left: 0.438rem;
}

.faded {
  color: #a4a4a4;
}

table {
  width: 100%;
  background-color: transparent;
}

/*@media screen and (max-width: 576px) {*/
/*  .actions-table {*/
/*    padding: 30px 10px;*/
/*  }*/
/*}*/
/*@media (min-width: 577px) and (max-width: 1049px) {*/
/*  .actions-table {*/
/*    max-width: 992px;*/
/*  }*/
/*}*/
/*@media (min-width: 1050px) and (max-width: 1279px) {*/
/*  .actions-table {*/
/*    max-width: 800px;*/
/*  }*/
/*}*/

/*@media (min-width: 1280px) {*/
/*  .actions-table {*/
/*    max-width: 1128px;*/
/*  }*/
/*}*/

.actions-table {
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 0.313rem;
  margin: 0.313rem 0 0.938rem;
  padding: 0.125rem 0 0.063rem;
}

.action-cell {
  padding: 0.313rem 0.625rem;
  font-size: 0.813rem; /*13px*/
  letter-spacing: 0.5px;
}

.action-border {
  border: 1px solid #f0f0f0;
  border-radius: 0.188rem;
}

.data-item {
  padding-bottom: 0.25rem;
}

/*table expand row START*/
.expanded-row {
  background: rgba(0, 0, 0, 0.015);
}

tr.detail-row {
  height: 0 !important;
  background: rgba(0, 0, 0, 0.015);
}

tr.element-row:not(.expanded-row):hover {
  background-color: rgba(0, 0, 0, 0.015);
  cursor: pointer;
  transition: background-color 0.5s;
  /*box-shadow: rgba(78 104 192, 0.25) 0px 4px 19px 0px, rgba(17, 12, 46, 0.15) 0px 20px 100px 0px !important;*/
}

tr.element-row:not(.expanded-row):active {
  background: rgba(0, 0, 0, 0.02);
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
  max-width: 69.875rem;
}

.element-diagram {
  min-width: 5rem;
  border: 2px solid black;
  padding: 0.5rem;
  font-weight: lighter;
  margin: 0.5rem 0;
  height: 6.5rem;
}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  padding: 1rem;
}

.element-description-attribution {
  opacity: 0.5;
}
/*table expand row END*/

@media (max-width: 960px) {
  ::ng-deep .transactions-table > thead > .mat-mdc-header-row {
    top: 10.313rem;
  }
}

@media (min-width: 961px) {
  ::ng-deep .transactions-table > thead >.mat-mdc-header-row {
    top: 7.625rem;
  }
}

@media (min-width: 600px) {
  ::ng-deep .transactions-table > thead >  .mat-mdc-header-row {
    background: transparent;
    position: sticky;
    z-index: 100;
  }

  [mat-header-cell] {
    background: transparent !important;
  }

  [mat-header-row], [mat-row] {
    border-radius: var(--card-border-radius) !important;
  }

  tr.element-row:not(.expanded-row) .mat-column-icon, [mat-header-cell].mat-column-icon {
    border-radius:  var(--card-border-radius) 0 0  var(--card-border-radius);
  }

  tr.element-row:not(.expanded-row) .mat-column-action, [mat-header-cell].mat-column-action {
    border-radius: 0  var(--card-border-radius)  var(--card-border-radius) 0;
  }

}

/*table responsive*/
@media (max-width: 599px) {
  td[mat-cell]:not(:last-of-type):not(:first-of-type) {
    border-bottom-width: 1px !important;
    border-bottom-style: solid;
  }

  [mat-table] [mat-header-row] {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  [mat-table] [mat-header-row] th[mat-header-cell] {
    display: none;
  }

  [mat-table] [mat-header-row] th[mat-header-cell]>.mat-sort-header-container {
    padding-left: 0.938rem;
  }

  [mat-table] [mat-header-row] th[mat-header-cell]>.mat-sort-header-container:not([mat-sort-header]),
  [mat-table] [mat-header-row] th[mat-header-cell]>.mat-sort-header-container.mat-sort-header-disabled,
  [mat-table] [mat-header-row] th[mat-header-cell]>.mat-sort-header-container.mat-column-actions {
    display: none;
  }

  [mat-table] [mat-row] {
    height: auto;
  }

  [mat-table] [mat-row] td[mat-cell]:not(.mat-column-actions) {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0.5rem;
    text-align: left;
    word-break: break-word;
  }

  [mat-table] [mat-row] td[mat-cell].mat-column-expandedDetail:not(.mat-column-actions) {
    display: grid;
    grid-template-columns: 0 100%;
  }

  [mat-table] [mat-row] td[mat-cell]:not(.mat-column-actions) > * {
    grid-column: 2;
  }

  [mat-table] [mat-row] td[mat-cell]:not(.mat-column-actions):before {
    content: attr(data-label);
    text-align: left;
    font-size: 0.75rem; /*12px*/
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
  }

  [mat-table] [mat-row] td[mat-cell].mat-column-icon:not(.mat-column-actions):before {
    align-self: center;
  }

  [mat-table] [mat-row] td.mat-column-actions {
    display: flex;
    justify-content: center;
    padding: 0 0.5rem;
  }

  [mat-table] [mat-row] td.mat-column-actions>button {
    margin: 0.5rem 0;
  }

  [mat-table] [mat-row]:last-of-type td:last-of-type {
    border: none;
  }

  /*.mat-table .mat-row:not(:last-of-type) td:last-of-type {*/
  /*border-bottom: 0.5rem solid #e5e5e5;*/
  /*padding-bottom: 20px !important;*/
  /*margin-bottom: 20px;*/
  /*}*/

  /*.mat-table .mat-row:not(:last-of-type) .mat-column-expandedDetail td:last-of-type {*/
  /*  border-bottom: 0.5rem solid #e5e5e5;*/
  /*  padding-bottom: 20px !important;*/
  /*  margin-bottom: 20px;*/
  /*}*/

  [mat-table] .mat-column-expandedDetail [mat-row]:not(:last-of-type) td:last-of-type {
    border-bottom: 0.5rem solid #e5e5e5;
    padding-bottom: 1.25rem !important;
    margin-bottom: 1.25rem;
  }

  .custom-card .mat-expansion-panel [mat-table] {
    border: 0.5rem solid #fafafa;
  }
}

/*chevron animation start*/
::ng-deep .arrowRight .svg-inline--fa {
  transform: rotate(0deg);
  animation: arrowRightAnimation 225ms cubic-bezier(0.4,0.0,0.2,1);
}

::ng-deep  .arrowDown .svg-inline--fa {
  transform: rotate(90deg);
  animation: arrowDownAnimation 225ms cubic-bezier(0.4,0.0,0.2,1);
}

@keyframes arrowRightAnimation {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes arrowDownAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
/*chevron animation end*/
