.header-card {
    /*background: var(--card-bg-gradient);*/
    background: radial-gradient(circle, rgba(241,245,252,1) 50%, rgba(221,229,246,1)  100%);
    box-shadow: var(--card-box-shadow) !important;
    height: 20.875rem;
}

.compact-header-parent {
  /*background-color: var(--card-bg);*/
  background-color: rgb(221,229,246);
  background: radial-gradient(circle, rgba(241,245,252,1) 50%, rgba(221,229,246,1)  100%);
  /*background: radial-gradient(circle, #f4f6ff, #f6f7fe, #f8f9fe, #fafafd, #fcfcfd);*/
  box-shadow: var(--card-box-shadow) !important;
  /*height: 278px;*/
  height: 87px;
  z-index: 2;
}

.compact-btn {
  height: 33px;
}

/*.header-anim {*/
/*  height: 56px;*/
/*  transition: all 0.3s;*/
/*}*/

.custom-input-group {
  box-shadow: var(--box-shadow-bg-sharp-inset-deep);
}

.custom-input {
  background-color: transparent;
}

.custom-input-group:focus-within {
  outline: none;
  box-shadow: var(--box-shadow-bg-sharp-inset);
  transition: var(--transition-btn-down);
  color: var(--primary);
}

::ng-deep .custom-autocomplete {
  background: linear-gradient(135deg, #e7eefb 0%, #F3F7FD 70%, #e2e8f1 100%) !important;
  box-shadow: 5px 5px 7px 1px rgb(107 107 107 / 56%), inset 1px 1px 2px 0px rgb(254 254 254) !important;
  border-radius: 1rem !important;
  margin-top: 11px;
}

::ng-deep .custom-autocomplete::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  background-clip: padding-box;
  border-radius: 9999px;
}

::ng-deep .custom-autocomplete::-webkit-scrollbar {
  width: 11px;
  border-radius: 0 1rem 1rem 0;
  background-color: var(--card-bg) !important;
  background:  linear-gradient(180deg, #F3F7FD 0%, #F3F7FD 70%, #e5eaf5 100%) !important;
}

::ng-deep .custom-autocomplete::-webkit-scrollbar-track {
  border-radius: 0 1rem 1rem 0;
  background-color: var(--card-bg) !important;
  background:  linear-gradient(180deg, #F3F7FD 0%, #F3F7FD 70%, #e5eaf5 100%) !important;
}

.search-btn {
  width: 113px;
  text-wrap: nowrap;
}

.search-btn.primary-btn {
  width: 186px;
  text-wrap: nowrap;
}

.logo-name {
  font-size: 15px;
  font-weight: 800;
  font-family: Montserrat, sans-serif;
  color: #353535;
}

.provider, .provider a {
  font-size: 13px;
  font-family: Montserrat, sans-serif;
}

.compact-header {
  padding-top: 1rem;
}

/*SCROLL ANIMATION*/
#header-card {
/*  interpolate-size: allow-keywords;*/
/*  height: auto;*/
/*  position: relative;*/
  z-index: 999;
/*  transition: height 2s ease, all 2s ease;*/
/*  animation: rel-to-fixed 0.5s linear forwards;*/
  /*noinspection CssInvalidFunction*/
  /*animation-timeline: scroll();*/
  /*animation-range: exit;*/
  /*animation-range-start: 10px;*/
  /*animation-range-end: 20px;*/
}

/*.searchbar-container {*/
  /*flex-direction: column;*/
  /*animation: col-to-row 0.5s linear forwards;*/
  /*noinspection CssInvalidFunction*/
  /*animation-timeline: view();*/
  /*animation-range-start: exit;*/
  /*animation-range-end: exit;*/
/*}*/

#main-logo {
  height: 4.375rem;
  width: auto;
/*  animation: logo-resize 0.5s linear forwards;*/
/*  !*noinspection CssInvalidFunction*!*/
/*  animation-timeline: scroll();*/
/*  animation-range-start: 10px;*/
/*  animation-range-end: 20px;*/
}

/*@keyframes logo-resize {*/
/*  80%, 100% { height: 2.625rem; }*/
/*}*/

/*@keyframes rel-to-fixed {*/
/*  80%, 100% {*/
/*    position: sticky;*/
/*    height: 5.438rem;*/
/*  }*/
/*}*/
