<!--<div class="animation-canvas z-10 fixed top-0 bottom-0 left-0 right-0 pointer-events-none">-->

<!--</div>-->

<!--COMPACT HEADER WITH SEARCH BAR-->
<!--style="display: none"-->

<div class="fixed w-full z-50 compact-header-container" [ngStyle]="{opacity: isHome() ? 0 : 1}">
  <div class="compact-header-parent rounded-b-2xl mx-3 sm:mx-5">
    <div class="hr-container flex flex-row justify-between items-center gap-[8px] compact-header">
      <div routerLink="/" style="cursor: pointer"
           class="compact-hyperion-branding flex flex-row flex-wrap justify-start items-center gap-[6px]">
        <img ngSrc="assets/hyperion-pulse.svg" alt="logo" style="height: 19px" class="logo" height="16" width="16"/>
        <div class="logo-name">HYPERION</div>
      </div>

      @if (chainData()) {
        <div class="flex flex-row items-center gap-4">
          <!-- DYNAMIC CHAIN LOGO-->
          <img [src]="chainData().logo" alt="logo" class="compact-logo"/>

          <form [formGroup]="searchForm" (ngSubmit)="submit()" class="flex flex-col w-full justify-center">

            <div class="flex flex-row w-full justify-center place-items-center">

              <div class="custom-input-group compact-form-container rounded-full grow sm:grow-0 flex flex-row gap-5 content-center
          focus-within:outline focus-within:outline-2 focus-within:outline-amber-400 focus-within:-outline-offset-2
          hover:border-amber-400 border-transparent transition-all duration-100 ease-in-out">

                <input #searchField formControlName="search_field" [placeholder]="searchPlaceholder()"
                       class="custom-input grow outline-none ml-0 pl-5 py-3 rounded-l-full w-full sm:w-96 max-w-full"
                       [matAutocomplete]="auto">
                <button mat-raised-button class="compact-btn search-btn mr-2 place-self-center"
                        [class.primary-btn]="validSearch()">
                  <mat-icon>search</mat-icon>
                  @if (validSearch()) {
                    Search {{ searchService.searchType() }}
                  } @else {
                    Search
                  }
                </button>
              </div>

              <mat-autocomplete #auto="matAutocomplete"
                                (optionSelected)="submit()"
                                class="custom-autocomplete"
                                [classList]="'custom-autocomplete'">
                @for (account of filteredAccounts(); track account) {
                  <mat-option [value]="account">
                    {{ account }}
                  </mat-option>
                }
              </mat-autocomplete>

            </div>

            @if (err()) {
              <div class="flex flex-row w-full justify-center">
                <div class="justify-center text-red-600 pt-2 animate fast fadeInDown">{{ err() }}</div>
              </div>
            }
          </form>
        </div>


        <div class="faded provider">
          Data provider:
          <a [href]="chainData().provider_url" target="_blank">{{ chainData().provider }}</a>
        </div>
      }
    </div>
  </div>
</div>

<div class="w-full h-full flex flex-col">

  @if (isHome()) {
    <!--  style="visibility: hidden"-->
    <div class="header-card mx-3 sm:mx-5 mb-5 mt-0 rounded-b-2xl content-start"
         [class.header-anim]="accService.loaded()">

      <div class="w-full mt-[28px] ">
        <app-pre-header></app-pre-header>
      </div>

      <!--FULL HEADER WITH SEARCH BAR-->
      <div class="flex flex-col justify-center items-center gap-10 pt-9 pb-10 w-full searchbar-container">

        <!-- DYNAMIC CHAIN LOGO-->
        <img [ngSrc]="chainData().logo" alt="logo" class="logo main-chain-logo" width="192" height="70" priority/>

        <form [formGroup]="searchForm" (ngSubmit)="submit()" class="flex flex-col w-full justify-center">

          <div class="flex flex-row w-full justify-center place-items-center">

            <div class="custom-input-group main-form-container rounded-full grow sm:grow-0 flex flex-row gap-5 content-center
          focus-within:outline focus-within:outline-2 focus-within:outline-amber-400 focus-within:-outline-offset-2
          hover:border-amber-400 border-transparent transition-all duration-100 ease-in-out">

              <input #searchField formControlName="search_field" [placeholder]="searchPlaceholder()"
                     class="custom-input grow outline-none ml-0 pl-5 py-4 rounded-l-full w-full sm:w-96 max-w-full"
                     [matAutocomplete]="auto">
              <button mat-raised-button class="search-btn mr-2 place-self-center" [class.primary-btn]="validSearch()">
                <mat-icon>search</mat-icon>
                @if (validSearch()) {
                  Search {{ searchService.searchType() }}
                } @else {
                  Search
                }
              </button>
            </div>

            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="submit()" class="custom-autocomplete"
                              [classList]="'custom-autocomplete'">
              @for (account of filteredAccounts(); track account) {
                <mat-option [value]="account">
                  {{ account }}
                </mat-option>
              }
            </mat-autocomplete>
          </div>
          @if (err()) {
            <div class="flex flex-row justify-center w-full">
              <div class="w-full sm:w-[525px] max-w-full pl-5">
                <div class="justify-start text-red-600 pt-3 animate fast fadeInDown">{{ err() }}</div>
              </div>
            </div>
          }
        </form>

      </div>

      <!--    <form [formGroup]="searchForm" (ngSubmit)="submit()" class="flex flex-row justify-center items-stretch">-->
      <!--      <div>-->
      <!--        <mat-form-field appearance="outline">-->
      <!--          <input matInput formControlName="search_field" [matAutocomplete]="auto"-->
      <!--                 [placeholder]="searchPlaceholder" type="text"/>-->
      <!--          <button mat-flat-button matSuffix type="submit" color="primary" class="mr-2 place-self-center search-btn"-->
      <!--                  [attr.aria-label]="'search'" (keyup.enter)="submit()">-->
      <!--            <mat-icon>search</mat-icon>-->
      <!--            Search-->
      <!--          </button>-->
      <!--          @if (err()) {-->
      <!--            <mat-error>{{ err() }}</mat-error>-->
      <!--          }-->
      <!--        </mat-form-field>-->
      <!--      </div>-->

      <!--      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="submit()">-->
      <!--        @for (account of filteredAccounts(); track account) {-->
      <!--          <mat-option [value]="account">-->
      <!--            {{ account }}-->
      <!--          </mat-option>-->
      <!--        }-->
      <!--      </mat-autocomplete>-->

      <!--    </form>-->
    </div>
  } @else {
    <div class="header-card mx-3 sm:mx-5 mb-5 mt-0 rounded-b-2xl content-start" style="visibility: hidden">
      <div class="w-full mt-[28px] ">
        <app-pre-header></app-pre-header>
      </div>
    </div>
  }

  <!-- bg-gradient-to-b from-slate-600 to-indigo-950-->
  <div class="grow pt-5 pb-10">
    <router-outlet></router-outlet>
  </div>
</div>

<!--<div class="grid-home-container">-->

<!--  <div style="height: 100%" class="flex flex-column">-->
<!--    <mat-card class="search-card flex flex-column justify-start content-stretch" style="height: 100%">-->
<!--      <div style="width: 100%">-->
<!--        <app-pre-header></app-pre-header>-->
<!--      </div>-->

<!--      <div style="text-align: center; height: 100%"-->
<!--           class="hr-container flex flex-column justify-center content-center gap-[40px]">-->

<!--        <div class="h-20">-->
<!--          <img [src]="chainData().logo" alt="logo" class="logo"/>-->
<!--        </div>-->

<!--        <form [formGroup]="searchForm" (ngSubmit)="submit()" fxFlexAlign.lt-sm="stretch"-->
<!--              class="ltr:xs:ml-[20px] rtl:xs:mr-[20px]">-->
<!--          <div class="flex flex-row justify-center items-stretch">-->
<!--            <div fxHide.lt-sm="width: 30px"></div>-->
<!--            <div class="flex flex-column xs:flex-100">-->
<!--              <mat-form-field appearance="outline" class="home-search-input flex-grow" style="height: 100%">-->
<!--                <label>-->
<!--                  <input matInput formControlName="search_field" [matAutocomplete]="auto"-->
<!--                         [placeholder]="searchPlaceholder" type="text"/>-->
<!--                </label>-->
<!--                @if (err) {-->
<!--                  <mat-error>{{ err }}</mat-error>-->
<!--                }-->
<!--              </mat-form-field>-->
<!--            </div>-->

<!--            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="submit()">-->
<!--              @for (account of filteredAccounts; track account) {-->
<!--                <mat-option-->
<!--                  [value]="account"-->
<!--                >{{ account }}-->
<!--                </mat-option-->
<!--                >-->
<!--              }-->
<!--            </mat-autocomplete>-->

<!--            <button-->
<!--              mat-stroked-button-->
<!--              matSuffix-->
<!--              type="submit"-->
<!--              [attr.aria-label]="'search'"-->
<!--              class="search-btn"-->
<!--              (keyup.enter)="submit()"-->
<!--            >-->
<!--              <fa-icon [icon]="icons.solid.search"></fa-icon>-->
<!--            </button>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--    </mat-card>-->
<!--  </div>-->

<!--  <div style="width: 100%" class="flex flex-column justify-end items-center">-->
<!--    <div-->
<!--      class="hr-container flex flex-row justify-between content-center gap-[8px] xs:mt-[70px]"-->
<!--    >-->
<!--      <span class="montserrat">Powered by</span>-->
<!--      <button mat-stroked-button>-->
<!--        <img ngSrc="assets/logo-hyperion.svg" alt="logo" class="hyperion-logo" width="136" height="42"/>-->
<!--      </button>-->

<!--      &lt;!&ndash;          <span class="outline" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">&ndash;&gt;-->
<!--      &lt;!&ndash;            <img [src]="chainData.chainInfoData.logo" alt="logo" style="height: 28px">&ndash;&gt;-->
<!--      &lt;!&ndash;            <span>{{chainData.chainInfoData.chain_name}}</span>&ndash;&gt;-->
<!--      &lt;!&ndash;          </span>&ndash;&gt;-->
<!--    </div>-->
<!--    <div class="faded footer-text" style="">Made with-->
<!--      <fa-icon [icon]="icons.solid.heart"></fa-icon>-->
<!--      by Rio Blocks-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->
