.header-card {
    background-color: var(--card-bg);
    background: var(--card-bg-gradient);
    box-shadow: var(--card-box-shadow) !important;
}

.custom-input-group {
  box-shadow: var(--box-shadow-bg-sharp-inset-deep);
}

.custom-input {
  background-color: transparent;
}

.custom-input-group:focus-within {
  outline: none;
  box-shadow: var(--box-shadow-bg-sharp-inset);
  transition: var(--transition-btn-down);
  color: var(--primary);
}

::ng-deep .custom-autocomplete {
  background-color: var(--card-bg) !important;
  background:  linear-gradient(0deg, #E1E9F7 0%, #F3F7FD 70%, #e5eaf5 100%) !important;
  box-shadow: -2px -2px 7px 0px var(--colour-bg-highlight), 6px 6px 6px 1px var(--colour-bg-shadow), inset 0px 0px 0px 0px var(--colour-bg-shadow), inset 0px 1px 0px 0px var(--colour-bg-highlight)  !important;
  border-radius: 1rem !important;
  /*border-radius: 1rem 0 0 1rem !important;*/
  margin-top: 11px;
}

::ng-deep .custom-autocomplete::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  background-clip: padding-box;
  border-radius: 9999px;
}

::ng-deep .custom-autocomplete::-webkit-scrollbar {
  width: 11px;
  border-radius: 0 1rem 1rem 0;
  background-color: var(--card-bg) !important;
  background:  linear-gradient(0deg, #E1E9F7 0%, #F3F7FD 70%, #e5eaf5 100%) !important;
}

::ng-deep .custom-autocomplete::-webkit-scrollbar-track {
  border-radius: 0 1rem 1rem 0;
  background-color: var(--card-bg) !important;
  background:  linear-gradient(0deg, #E1E9F7 0%, #F3F7FD 70%, #e5eaf5 100%) !important;
}
