<div mat-dialog-title>
  <div class="flex flex-row justify-between">
    <div>Action Details</div>
    <button mat-icon-button mat-dialog-close class="faded mt-[-2rem]">
      <mat-icon class="faded">close</mat-icon>
    </button>
  </div>
</div>
<mat-dialog-content>
  <mat-tree [dataSource]="actionTree" [treeControl]="actionTreeControl" class="example-tree">

    <mat-nested-tree-node *matTreeNodeDef="let node" matTreeNodeToggle
                          class="flex flex-row flex-wrap
                   px-10
                   border-b-2
                   justify-between place-content-center place-items-center content-center">

      @if (node.arrayItem) {
        <p class="font-light text-slate-800 break-all">{{ node.value }}</p>
      } @else {
        <p class="font-semibold text-slate-900 mb-0">{{ node.name }}</p>
        <p class="font-light text-slate-800 text-wrap">{{ node.value }}</p>
      }

    </mat-nested-tree-node>

    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
      <div class="mat-tree-node border-b-2 px-10 py-2" matTreeNodeToggle>
        <button mat-icon-button [attr.aria-label]="'Toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{ actionTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
          </mat-icon>
        </button>
        {{ node.name }}
      </div>
      <!-- There is inline padding applied to this div using styles.
          This padding value depends on the mat-icon-button width.  -->
      <div [class.example-tree-invisible]="!actionTreeControl.isExpanded(node)"
           role="group">
        <ng-container matTreeNodeOutlet></ng-container>
      </div>
    </mat-nested-tree-node>
  </mat-tree>
</mat-dialog-content>
