<app-layout-transition #logoLayoutTransition [observedIds]="['header-container', 'tagline']"
                       [sourceDiv]="logoSourceDiv" [targetDiv]="currentTargetDiv()" [progress]="transitionProgress()">
  <div class="h-[4.375rem]" style="z-index: 100">
    <img [src]="chainData().logo" alt="logo" class="logo"/>
  </div>
</app-layout-transition>
<app-layout-transition #searchbarLayoutTransition [observedIds]="['header-container', 'tagline']"
                       [sourceDiv]="searchbarSourceDiv"
                       [targetDiv]="searchbarTargetDiv"
                       [progress]="transitionProgress()">
  <div class="w-full">
    <form [formGroup]="searchForm" (ngSubmit)="submit()" class="flex flex-col">
      <div class="custom-input-group grow w-full flex flex-row rounded-full pr-2">
        <div class="relative grow min-w-0">
          @if (!searchForm.get('search_field')?.value) {
          <div class="custom-placeholder absolute left-5 top-0 flex items-center h-full pointer-events-none">
            <span class="static-placeholder">Search by&nbsp;</span>
            <span class="dynamic-placeholder"> {{ dynamicPlaceholder() }}</span>
          </div>
          }
          <input #searchFieldRef formControlName="search_field" placeholder=""
                 class="custom-input grow outline-hidden pl-5 rounded-l-full w-full max-w-full"
                 [matAutocomplete]="auto">
        </div>
        <button mat-raised-button class="search-btn place-self-center" [class.primary-btn]="validSearch()">
          <fa-icon [icon]="icons.solid.search"></fa-icon>
          @if (validSearch()) {
            <span class="hidden sm:inline sm:pl-1">Search </span><span class="pl-1 sm:pl-0">{{ searchService.searchType() }}</span>
          } @else {
            <span class="hidden sm:inline sm:pl-1">Search</span>
          }
        </button>
      </div>
      <div class="flex flex-row justify-center w-full min-h-8">
        @if (err()) {

          <div class="w-full max-w-full pl-5">
            <div class="justify-start text-red-600 pt-2 animate fast fadeInDown">{{ err() }}</div>
          </div>

        }
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="submit()"
                          class="custom-autocomplete"
                          [classList]="'custom-autocomplete'">
          @for (account of filteredAccounts(); track account) {
            <mat-option [value]="account">
              {{ account }}
            </mat-option>
          }
        </mat-autocomplete>
      </div>
    </form>
  </div>
</app-layout-transition>

<div id="layout-container" class="w-full h-full flex flex-col justify-between" [class.is-animating]="isAnimating()">

  <div #headerContainer id="header-container"
       class="header-card flex flex-col items-center fixed top-0 lg:rounded-b-2xl left-0 right-0 lg:left-3 lg:right-3 w-full lg:w-auto">
    <div class="w-full mt-7">
      <div class="hr-container flex flex-row flex-wrap justify-between items-center gap-5">

        <div class="flex flex-row items-center gap-1.5 xs:gap-1.5">
          <div routerLink="/" style="cursor: pointer"
               class="flex flex-row flex-wrap justify-start items-center gap-1.5 xs:gap-1.5">
            <img
              ngSrc="assets/hyperion-pulse.svg"
              alt="logo"
              style="height: 19px"
              class="logo"
              width="26.85" height="19"
            />

            <div class="logo-name hidden sm:block">HYPERION</div>
            <div id="tagline" class="tagline faded">Lightweight Explorer</div>
          </div>

          <div #logoTargetDivMobile class="compact-logo opacity-0 block sm:hidden">
            <img [src]="chainData().logo" id="compact-logo-mobile" alt="logo" class="logo"/>
          </div>
        </div>

        <div class="searchbar-empty-space grow-0 sm:grow flex flex-row items-center gap-2 md:gap-5 w-full sm:w-auto min-w-0 max-w-full sm:max-w-[46rem] order-3 lg:order-none">
          <div #logoTargetDivDesktop class="compact-logo opacity-0 hidden sm:block">
            <img [src]="chainData().logo" id="compact-logo" alt="logo" class="logo"/>
          </div>
          <div #searchbarTargetDiv class="searchbar-placeholder bg-red-400 w-full opacity-0"></div>
        </div>

        @if (chainData()) {
          <div class="faded provider hidden sm:inline">
            Data provider:
            <a [href]="chainData().provider_url" target="_blank">{{ chainData().provider }}</a>
          </div>
        }
      </div>

    </div>

    <div id="searchbar-container"
         class="flex flex-col justify-center items-center gap-5 pt-9 pb-10 w-full searchbar-container pointer-events-none">

      <div #logoSourceDiv id="logo-element" class="h-[4.375rem] opacity-0">
        <img (load)="logoLayoutTransitionRef()?.refreshSynchronously()" [src]="chainData().logo" id="main-logo" alt="logo" class="logo"/>
      </div>
      <div #searchbarSourceDiv id="search-bar" class="flex flex-col bg-red-400 opacity-0 w-full md:max-w-[46rem]">
        <div class="grow w-full  flex flex-row h-[3.188rem]"></div>
        <div class="flex flex-row justify-center w-full h-8 min-h-8"></div>
      </div>

    </div>
  </div>

  <div #contentContainer id="content-container" class="flex flex-col justify-between pb-10 w-full grow">
    <div>
      <router-outlet></router-outlet>
    </div>
    <div class="flex md:flex-row flex-col justify-between items-center hr-container w-full pt-4 gap-4">
      <div class="w-[4.383rem]"></div>
      <div class="footer-color justify-self-center">v{{ version }} | Made with
        <fa-icon (click)="showThemeSelector.set(!showThemeSelector())" [icon]="icons.solid.heart"></fa-icon>
        by RioBlocks
      </div>
      <div class="flex flex-row items-center gap-3">
        <a class="icon-link" href="https://github.com/eosrio/hyperion-explorer" target="_blank">
          <fa-icon [icon]="icons.brand.github" class="text-xl " size="xl"></fa-icon>
        </a>
        <a class="icon-link" href="https://t.me/EOSHyperion" target="_blank">
          <fa-icon [icon]="icons.brand.telegram" class="text-xl" size="xl"></fa-icon>
        </a>
      </div>
    </div>

    @if (showThemeSelector()) {
      <app-theme-selector></app-theme-selector>
    }
  </div>
</div>
