<app-layout-transition [observedIds]="['header-container', 'tagline']"
                       [sourceDiv]="logoSourceDiv" [targetDiv]="logoTargetDiv" [progress]="transitionProgress()">
  <div class="h-[4.375rem]" style="z-index: 100">
    <img [src]="chainData().logo" alt="logo" class="logo"/>
  </div>
</app-layout-transition>

<app-layout-transition [observedIds]="['header-container', 'tagline']"
                       [sourceDiv]="searchbarSourceDiv"
                       [targetDiv]="searchbarTargetDiv"
                       [progress]="transitionProgress()">
  <div>
    <form [formGroup]="searchForm" (ngSubmit)="submit()" class="flex flex-col">
      <div class="custom-input-group grow w-full flex flex-row rounded-full">
        <input #searchField formControlName="search_field" [placeholder]="searchPlaceholder()"
               class="custom-input grow outline-none pl-5 rounded-l-full w-full sm:w-96 max-w-full"
               [style.padding-top]="searchInputPadding() +  'rem'"
               [style.padding-bottom]="searchInputPadding() +  'rem'"
               [matAutocomplete]="auto">
        <button mat-raised-button class="search-btn mr-2 place-self-center" [class.primary-btn]="validSearch()">
          <fa-icon [icon]="icons.solid.search"></fa-icon>
          @if (validSearch()) {
            Search {{ searchService.searchType() }}
          } @else {
            Search
          }
        </button>
      </div>
      <div class="flex flex-row justify-center w-full min-h-8">
        @if (err()) {

          <div class="w-full max-w-full pl-5">
            <div class="justify-start text-red-600 pt-2 animate fast fadeInDown">{{ err() }}</div>
          </div>

        }
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="submit()"
                          class="custom-autocomplete"
                          [classList]="'custom-autocomplete'">
          @for (account of filteredAccounts(); track account) {
            <mat-option [value]="account">
              {{ account }}
            </mat-option>
          }
        </mat-autocomplete>
      </div>
    </form>
  </div>
</app-layout-transition>


<div id="layout-container" class="w-full h-full flex flex-col justify-between">

  <!--  <div class="">-->
  <div id="header-container"
       class="header-card flex flex-col justify-between items-center fixed top-0 lg:rounded-b-2xl left-0 right-0 lg:left-3 lg:right-3 w-full lg:w-auto">
    <div class="w-full mt-7">
      <div class="hr-container flex flex-row flex-wrap justify-between items-center gap-5">
        <!--  <div class="flex flex-row items-center grow">-->
        <div routerLink="/" style="cursor: pointer"
             class="flex flex-row flex-wrap justify-start items-center gap-1.5 xs:gap-1.5">
          <img
            ngSrc="assets/hyperion-pulse.svg"
            alt="logo"
            style="height: 19px"
            class="logo"
            width="26.85" height="19"
          />

          <div class="logo-name">HYPERION</div>
          <div id="tagline" [style.width]="taglineWidth() +  'px'" class="tagline faded hidden sm:inline">Lightweight Explorer</div>
        </div>
        <!--        @if (chainData()) {-->
        <div class="searchbar-empty-space grow flex flex-row items-center gap-2 md:gap-5 max-w-[46rem]">
          <div #logoTargetDiv class="compact-logo opacity-0">
            <img [src]="chainData().logo" id="compact-logo" alt="logo" class="logo"/>
          </div>
          <div #searchbarTargetDiv class="searchbar-placeholder bg-red-400 w-full opacity-0"></div>
        </div>
        <!--        }-->
        <!--  </div>-->
        @if (chainData()) {
          <div class="faded provider">
            Data provider:
            <a [href]="chainData().provider_url" target="_blank">{{ chainData().provider }}</a>
          </div>
        }
      </div>

    </div>
    <div id="searchbar-container"
         class="flex flex-col justify-center items-center gap-5 pt-9 pb-10 w-full searchbar-container pointer-events-none">

      <div #logoSourceDiv id="logo-element" class="h-[4.375rem] opacity-0">
        <img [src]="chainData().logo" id="main-logo" alt="logo" class="logo"/>
      </div>
      <div #searchbarSourceDiv id="search-bar" class="flex flex-col bg-red-400 opacity-0 w-full md:w-[32.813rem]">
        <div class="grow w-full  flex flex-row h-[3.188rem]"></div>
        <div class="flex flex-row justify-center w-full h-8 min-h-8"></div>
      </div>

    </div>
  </div>
  <!--  </div>-->

  <div id="content-container" class="flex flex-col justify-center pb-10 w-full">
    <router-outlet></router-outlet>
    <div class="text-slate-500 my-4 place-self-center">v{{ version }} | Made with <fa-icon [icon]="icons.solid.heart"></fa-icon> by EOS Rio | RioBlocks</div>
  </div>
</div>
